@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: 'Poppins';
    line-height: 1.5;
    font-weight: 400;

    font-size: max(1.1vmax, 16px);
    --text: #f9f6ee;
    --background: #1f1c1f;
    --primary: #194c6c;
    --secondary: #c65e38;
    --accent: #a2ceea;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

color: var(--text);
background-color: var(--background);

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 3.4rem;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    color: var(--accent);
    letter-spacing: 0.1rem;
}


@media (prefers-color-scheme: light) {
    :root {
        --text: #0e1c25;
        --background: #f6e2d5;
        --primary: #194c6c;
        /* --secondary: #f4dacc; */
        --secondary: #f1916d;
        --accent: #2d8bc6;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

::-webkit-scrollbar{
    width: 0.25rem;
    background-color: #343434;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 0.125rem;
    transition: all 150ms;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}
